.radio-button {
  display: block;

  &:hover {
    .radio-button__label {
      &::before {
        border-color: $font-color;
      }
    }
  }

  &:active {
    .radio-button__label {
      &::before {
        border-color: $main-color;
      }
    }
  }
}

.radio-button__input {
  position: fixed;
  transform: scale(0);

  &:checked {
    ~ .radio-button__label {
      &::after {
        opacity: 1;
      }
    }
  }
}

.radio-button__label {
  position: relative;
  display: inline-block;
  min-height: 36px;
  padding-top: 3px;
  padding-left: 55px;
  font-size: 18px;
  line-height: 30px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    transition-duration: 0.2s;
    transition-property: border-color, opacity;
  }

  &::before {
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    border: 2px solid;
    border-color: $border-color;
    border-radius: 50%;
    background-color: $white;
  }

  &::after {
    top: 10px;
    left: 10px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $main-color;
    opacity: 0;
  }
}
