.research {
  display: none;
}

@media screen and (min-width: $tablet) {
  .research {
    display: block;
    padding: 80px 0 40px;
  }

  .research__inner {
    position: relative;
    min-height: 276px;
    padding: 10px var(--pads) 0 calc(290px + var(--pads));

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: var(--pads);
      width: 238px;
      height: 276px;
      background-image: url("../img/research/timer.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  .research__title {
    margin: 0;
    margin-bottom: 12px;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: $black;
  }

  .research__content {
    p {
      margin: 0;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .research__footer {
    margin-top: 10px;
  }
}

@media screen and (min-width: $desktop) {
  .research {
    padding: 30px 0 67px;
    background-color: $light-color;
  }

  .research__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: $desktop;
    margin: 0 auto;
    min-height: 345px;
    padding-left: calc(370px + var(--pads));

    &::before {
      width: 298px;
      height: 345px;
    }
  }

  .research__title {
    margin-bottom: 20px;

    br {
      display: none;
    }
  }

  .research__content {
    p {
      margin-bottom: 20px;
    }
  }

  .research__footer {
    margin-top: 30px;
  }
}
