.reviews-item__caption {
  margin-bottom: 10px;
}

.reviews-item__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.reviews-item__about {
  display: none;
}

.reviews-item__text-holder {
  text-align: center;

  p {
    margin: 0;
    margin-bottom: 10;
    font-size: 14px;
    line-height: 30px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media screen and (min-width: $tablet) {
  .reviews-item {
    display: flex;
    flex-direction: column;
  }

  .reviews-item__caption {
    order: 2;
    margin-bottom: 0;
  }

  .reviews-item__name {
    font-size: 20px;
  }

  .reviews-item__about {
    display: block;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
  }

  .reviews-item__text-holder {
    order: 1;
    margin-bottom: 30px;

    p {
      margin-bottom: 15;
      font-size: 18px;
      line-height: 30px;
    }
  }
}

@media screen and (min-width: $desktop) {
  .reviews-item {
    position: relative;
    padding-top: 110px;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      width: 79px;
      height: 63px;
      background-image: url("../../img/reviews/quots.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  .reviews-item__name {
    font-size: 24px;
  }

  .reviews-item__about {
    font-size: 18px;
  }
}
