body {
  min-width: var(--min-width);
  margin: 0;
  background: $white;
  font-family: $main-font;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: $font-color;
  text-size-adjust: 100%;
  overflow-x: hidden;
}

*,
::after,
::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

button,
input {
  font: inherit;

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

a {
  color: $main-color;
  text-decoration: underline;

  &:hover,
  &:active {
    color: $main-color;
    text-decoration: none;
  }
}

@media screen and (min-width: $desktop) {
  body {
    font-size: 18px;
    line-height: 30px;
  }
}
