$main-font: "Open Sans", "Arial", sans-serif;

$white: #ffffff;
$black: #000000;
$main-color: #d22856;
$sub-color: #2aab6d;
$sub-color-hover: #1c9b5e;
$back-color: #f2f2f2;
$dark-color: #283645;
$sub-dark-color: #1d2631;
$border-color: #e5e5e5;
$font-color: #283645;
$error: #f25b26;
$success: #3dc644;
$disabled: #e5e5e5;

$tablet: 660px;
$desktop: 1200px;

:root {
  --pads: 20px;

  @media screen and (min-width: $desktop) {
    --pads: 130px;
  }
}
